einops
mlflow
opencv-python
pytorch-lightning==1.1.4
#-f https://download.pytorch.org/whl/torch_stable.html
#torch==1.7.1+cu101
torch>=2.0.0

#-f  https://download.pytorch.org/whl/torch_stable.html
#torchvision==0.8.2+cu101
torchvision
tqdm
yacs