__pycache__/
*.pt
*.pth
*.ckpt
*.avi
*.pkl
venv/models/*.pt
models/*.pth.ckpt
reid/models/*.ckpt
input_videos/*.mp4
models/*.pt
input_videos/*.mp4
reid/models/market1501_resnet50_256_128_epoch_120.ckpt
models/arseq_hockey.pth.ckpt
logs/